body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222222;

    display: grid;
    grid-template-columns: 24% 38% 38%;
    grid-template-rows: 200px auto auto;

    margin: 0;
}

header{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    

    background-color: #444444;
    border-bottom: 2px solid red;
    color: white;
    margin-top: 0;

    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
}

figure{
    grid-column-start: 1;
    grid-row-start: 1;

    display: flex;
    align-items: center;
}

figure img{
    max-width: 150px;
    border-radius: 50%;
}

header .title{
    grid-column-start: 2;
    grid-row-start: 1;

    display: flex;
    align-items: center;
}

header .title h1{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;

    margin-bottom: -15px;
}
header .title h2{
    font-family: 'Montserrat', sans-serif;
}

aside{
    border-right: 2px solid red;

    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;

    background-color: #eeeeee;

    padding: 0 20px;

    word-wrap: break-word;
}

.exp{
    grid-column-start: 2;
    grid-row-start: 2;

    padding: 0 20px;
}

.study{
    grid-column-start: 2;
    grid-row-start: 3;

    padding: 0 20px;
}

.knowledge{
    grid-column-start: 3;
    grid-row-start: 2;

    padding: 0 20px;
}


h3{
    background-color: orange;
    border-radius: 15px;

    color: #ffffff;
    font-family: 'Sansita Swashed', cursive;
    font-size: 25px;

    padding: 2px 0;
    
    text-align: center;
}

